.home-container {
  position: relative;
  height: 100vh;
  text-align: center;
  overflow: hidden;
}

.home-video {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.overlay h1 {
  font-size: 4.5rem;
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.overlay p {
  font-size: 2.5rem;
  margin-top: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.section {
  text-align: left;
  padding: 20px;
  background-color: #e5e5e5;
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
}

.content-below-video h2 {
  font-size: 2rem;
  text-align: center;
  line-height: initial;
}

.content-below-video p {
  font-size: 1.2rem;
}

.content-below-video {
  margin-left: 100px;
  margin-right: 100px;
}

html {
  scroll-behavior: smooth;
}

.section {
  margin-bottom: 40px;
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 40px;
  font-size: 1rem;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #555;
}

.introduction-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.text-frame {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  margin: 10px 0;
}

.image-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.art-image {
  width: 48%;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.button-container {
  text-align: center;
  margin: 20px 0;
}

.learn-more-button {
  background-color: #080807;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
}

.learn-more-button:hover {
  background-color: #333;
}

.features-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.feature-box {
  background-color: white;
  border: 2px solid #e1e1e1;
  border-radius: 10px;
  width: 30%;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.feature-box::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  height: 8px;
  background-color: #1dc89a;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.feature-box h3 {
  text-align: center;
  font-size: 18px;
  margin-bottom: 15px;
  color: #333;
}

.feature-box ul {
  list-style-type: none;
  padding: 0;
}

.feature-box li {
  cursor: pointer;
  font-size: 16px;
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
  position: relative;
}

.feature-box li p {
  margin: 5px 0;
  font-size: 14px;
  color: #666;
}

.feature-box li:hover {
  background-color: #f4f4f4;
}

.results-container h2 {
  font-size: 2rem;
  text-align: center;
}
